.search .card{
    display: flex;
    justify-content: space-between
}

.search .short{
    display: flex;
    gap: 10px;
    width: 30%;
}

.search .card .form{
    display: flex;
    width: 40%;
    gap: 10px;
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

@media only screen and (max-width: 425px) {
    .search .card{
        flex-direction: column;
    }
    .search .short,
    .search .card .form{
        width: 100%;
    }
}